@{
    ViewData["Title"] = "الصفحة الرئيسية";
    Layout = "_NewLayout";
}
@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
*@

<style>

    html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        text-align: left;
    }
</style>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="banner-section1" class=" banner-section" style="background: transparent linear-gradient(241deg, #223d7c 0%, #000000 100%) 0% 0% no-repeat padding-box;">
    
    <div class="banner-text" style="font-size:20%">
        <span>Training Platform</span>
    </div>

    <div class="container custom-container">
        <div class="row align-items-end mb-30-none">
            <div class="col-xl-7 col-lg-7 mb-30">
                <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">

                    <h1 class="title">Training Plateform</h1>
                    <span class="sub-title">Training Platform For Student Training Programs </span>
                        <p>
                         the supervision of Dr. Rebhi Baraka
                    </p>
                        <br />
                    <div class="banner-arrow">
                     </div>
                    <div class="banner-widget">
                        <div class="banner-widget-wrapper">
                            <div class="banner-widget-left">
                                <div class="banner-widget-thumb">
                                    <img src="~/assets/images/element/element-2.png" alt="element">
                                </div>
                            </div>
                            <div class="banner-widget-middle mb-2">
                                <div class="banner-widget-content">
                                    <p><span> </span> Training Program Experts</p>
                                </div>
                            </div>
                            <div class="banner-widget-right">
                                <div class="banner-widget-btn">
                                 </div>
                            </div>
                        </div>
                    </div>
                    @*      }*@

                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
